.scroll {
  max-height: 446px;
  margin-bottom: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto;
}
.print {
  padding-top: 50px;
  /* border: blueviolet;
  border-top: 5px;
  border-top-color: blueviolet; */
}
